<div class="column2"
  <%= form_tag login_path do %>
  <% flash.each do |type, msg| %>
    <div class="field_with_errors">
      <%= msg.join %>
    </div>
  <% end %>
  <%= label_tag :name %><br>
  <%= text_field_tag :name %><br>
  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Login" %>
  <% end %>
</div>

<div class="column2">
  <%= button_to('Log in with GitHub!', '/auth/github', method: :post) %>
</div>