
<style>
  .navbar {
    overflow: hidden;
    background-color: #3A3B3C;
    font-family: Arial;
  }

  .body { 
    background-image: url('/assets/starfish.jpg');

  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #203354;
  }

  .footer {
    position: relative;
    font-size: small;
    padding: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #203354;
    color: white;
    text-align: center;
    margin: 0px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: arial;
    background: inherit;
    background:attachment: fixed;
    backdrop-filter: blur(2px);
  }

.text {
  color: white;
}
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.8;
  }

  .module {
    background: url('/assets/starfish.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-size: center;
    background-repeat: no-repeat;
    min-height: 100%;
    object-fit: contain;
    position: relative;
    overflow: hidden;
    margin: 0px;
  }

  .column2 {
    float: left;
    max-width: 50%;
    padding: 20px;
    background: inherit;
    background:attachment: fixed;
    backdrop-filter: blur(2px);
    color: white;
    margin: auto;
    
  }

.field_with_errors {
  color: red;
}
</style>


  <head>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/about_us">About Us</a>
      <a href="/locations">Locations</a>
      <% if !current_user %>
        <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
        <a class="navbar-brand" href="<%= login_path %>"/>Log In</a>
      <% end %>
      <% if current_user %>
        <a class="navbar-brand" href="<%= user_path(current_user) %>"/><%= current_user.name %>'s profile</a>
        <%= link_to "Log Out", logout_path, method: "DELETE" %>
      <% end %>
    </div>
  </head>

  <div class="module">

   <%= yield %>
  </div>

  <div class="footer">
    <p>Contact Us</p>
    <p>Scubalessons@scuba.com</p>
    <p>(555)555-5555</p>
  </div>